.buttonContainer {
  display: flex;
  flex-direction: row;
  background-color: #Fff;
  width: 90%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
  opacity: 0.7;
  margin-top: 10px;
}

.buttonContainer:hover {
  width: 100%;
  transition: all 0.5s;
  opacity: 1.0;
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004990;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  transform: translateY(-3px);
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


/* Media Queries para tamanhos de tela menores */
@media (max-width: 768px) {
  .buttonContainer {
    width: 100%;
    padding: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
  }

  .button {
    width: 50px;
    height: 50px;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004990;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }

  .buttonContainer:hover {
    width: 100%;
    transition: all 0.5s;
    opacity: 1.0;
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }

  .button:hover {
    transform: translateY(-3px);
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }

  .button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }


}

@media (max-width: 480px) {
  .buttonContainer {
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
  }

  .button {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}
